@charset "UTF-8";
/* CSS Document */

.menuButton {
	width: 15%;
	position: absolute;
	right:5%;
	top:10%;
}


.menuContainer {
	position: absolute;
	width: 0;
	height: 100%;
	z-index: 11;
	margin-right: 0;
	background-color: #ccc;
	-moz-border-radius: 0 0 0 15px;
	border-radius: 0 0 0 15px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}


.menuCloseBn {
	width:6%;
	height:6%;
	min-width:20;
	min-height:20;
	max-width:43;
	max-height:43;
	position:absolute;
	width: 15%;
	right:5%;
	top:10%;
}